.content{
    display: flex;
    flex-direction: column;
}

.message{
    background: red;
}

.server-message {
    background: green;
}

.send-message {
    display: flex;
    justify-content: space-around;
}

.send-message input{
    flex-basis: 70%;
}
.send-message button{
    flex-basis: 20%;
}